<div class="row pb-2">
    <div class="col-4 offset-2">
        {% for review in reviews %}
        <div class="card mb-3">
            <div class="card-header">
                {{ review.review_title}}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ review.review_desc }}</p>
                    <footer class="blockquote-footer">{{ review.review_user }}<cite title="Source Title"> <br>{{ review.review_date }}</cite></footer>
                </blockquote>
            </div>
        </div>
        {% endfor %}
    </div>
</div>