<div class="row pb-2">
    <div class="col-4 offset-2">
        <form action="{% url 'review' %}" method="POST" id="product-review-form" class="pb-2">
            {% csrf_token %}
            <fieldset class="rounded mb-2">
                <legend class="fieldset-label text-black mb-0 w-auto">Product Reviews</legend>
                {{ form|crispy }}
            </fieldset>
            <button href="{% url 'review' %}" id="submit-button" class="btn btn-dark rounded-3">
                <span>Submit review</span>
            </button>
        </form>
    </div>
</div>