{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="text-dark">
    <div class="container-fluid vh-100">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font text-warning">Shopping Bag</h2>
                <hr class="w-100 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                {% if bag_items %}

                <table class="table table-sm table-borderless text-center table-striped">
                    <thead class="table-dark text-center">
                        <td class="w-15">Item</td>
                        <td class="w-15">Description</td>
                        <td class="w-15">Quantity</td>
                        <td class="w-15">Price</td>
                        <td class="w-15">Remove</td>
                    </thead>
                    {% for item in bag_items %}
                    <tr class="table-light">
                        <td class="p-1 text-center">
                            <img class="img-fluid-bag rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="table-light align-middle">{{ item.product.name }}</td>
                        <td class="table-light align-middle">{{ item.quantity }}</td>
                        <td class="table-light align-middle">£{{ item.product.price }}</td>
                        <td class="table-light align-middle">
                            <form method="POST" action="{% url 'remove_from_bag' item.item_id %}">
                                {% csrf_token %}

                            </form>
                            <a class="cursor-pointer remove-item highlight text-dark" id="remove_{{ item.item_id }}">
                                <span class="icon">
                                    <i class="far fa-trash-alt"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="table-light">
                        <td class="table-light text-end" colspan="4">Subtotal</td>
                        <td class="table-light">
                            £{{ total|floatformat:2 }}
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td class="table-light text-end" colspan="4">Delivery</td>
                        <td class="table-light">
                            £{{ delivery|floatformat:2 }}
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td class="table-light text-end" colspan="4"><strong>Total</strong></td>
                        <td class="table-light">
                            <strong>£{{ grand_total|floatformat:2 }}</strong>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td class="table-light text-end" colspan="5">
                            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-3 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Continue Shopping</span>
                            </a>
                            <a href="" class="btn btn-dark rounded-3 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>

                        </td>
                    </tr>
                </table>
                {% else %}
                <br>
                <div class="row text-center">
                    <div class="col-10 offset-1 text-warning">
                        <h4>You have no items in your shopping bag !</h4>
                        <a href="{% url 'products' %}" class="join-now-button btn btn-dark text-light py-3">Shop
                            Now!
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Change icon colour on cursor hover
    $('.highlight').hover(function () {
        $(this).toggleClass('text-dark');
        $(this).toggleClass('text-warning');
    });

    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove quantity on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'product_size': size };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}