{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="bg-light text-dark">
    <div class="container-fluid vh-100">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Shopping Bag</h2>
                <hr class="w-100 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                {% if bag_items %}

                <table class="table table-sm table-bordered">
                    <thead class="table-dark">
                        <td class="">Item</td>
                        <td class="">Description</td>
                        <td class="">Quantity</td>
                        <td class="">Price</td>
                    </thead>
                    {% for item in bag_items %}
                    <tr class="table-light">
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="table-light">{{ item.product.name }}</td>
                        <td class="table-light">{{ item.quantity }}</td>
                        <td class="table-light">{{ item.product.price }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="table-light">
                        <td class="table-light text-end" colspan="3">Subtotal</td>
                        <td class="table-light">
                            £{{ total|floatformat:2 }}
                        </td>
                    <tr class="table-light">
                        <td class="table-light text-end" colspan="3">Delivery</td>
                        <td class="table-light">
                            £{{ delivery|floatformat:2 }}
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td class="table-light text-end" colspan="3">Total </td>
                        <td class="table-light">
                            £{{ grand_total|floatformat:2 }}
                        </td>
                    </tr>
                    </tr>
                </table>
                {% else %}
                <br>
                <div class="row text-center">
                    <div class="col-10 offset-1">
                        <h4>You have no items in your shopping bag !</h4>
                        <a href="{% url 'products' %}" class="join-now-button btn btn-dark text-light py-3">Shop
                            Now!</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}