{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="text-dark">
    <div class="container-fluid vh-100">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font text-warning">Shopping Bag</h2>
                <hr class="w-100 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                {% if bag_items %}

                <table class="table table-sm table-borderless text-center table-striped">
                    <thead class="table-dark text-center">
                        <td class="w-15">Item</td>
                        <td class="w-15">Description</td>
                        <td class="w-15">Quantity</td>
                        <td class="w-15">Price</td>
                    </thead>
                    {% for item in bag_items %}
                    <tr class="table-light">
                        <td class="p-1 text-center">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="table-light align-middle">{{ item.product.name }}</td>
                        <td class="table-light align-middle">{{ item.quantity }}</td>
                        <td class="table-light align-middle">£{{ item.product.price }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="table-light">
                        <td class="table-light text-end" colspan="3">Subtotal</td>
                        <td class="table-light">
                            £{{ total|floatformat:2 }}
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td class="table-light text-end" colspan="3">Delivery</td>
                        <td class="table-light">
                            £{{ delivery|floatformat:2 }}
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td class="table-light text-end" colspan="3">Total </td>
                        <td class="table-light">
                            £{{ grand_total|floatformat:2 }}
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td class="table-light text-end" colspan="4">
                            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-3 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn btn-dark rounded-3 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>

                        </td>
                    </tr>
                </table>
                {% else %}
                <br>
                <div class="row text-center">
                    <div class="col-10 offset-1">
                        <h4>You have no items in your shopping bag !</h4>
                        <a href="{% url 'products' %}" class="join-now-button btn btn-dark text-light py-3">Shop
                            Now!
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}