{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container vh-100">
    <div class="row d-flex justify-content-center h-80" id="hero-quote">
        <div class="col-12 col-md-6 align-items-center">
            <h1 class="display-1 logo-font text-light text-center">
                Attain<br> 
                Greatness<br>
                Here<br>
            </h1>
        </div>
        <div class="row h-20" id="join-now-row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <h4>
                    <a href="" class="join-now-button btn btn-dark btn-lg text-uppercase text-light py-3">Join Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>



{% endblock %}