{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block content %}
<!-- Display dashboard if user is logged in rather than the landing page -->
{% if request.user.is_authenticated %}
<div class="container-fluid vh-100 p-0">
    <div class="d-flex align-items-center justify-content-center background-image h-100">
        {% include 'home/dashboard.html' %}
    </div>
</div>
{% else %}
<!-- Display landing page if Anonymous -->
<div class="container-fluid p-0" id="hero-landing-section">
    <div class="top-banner row hero-spacer section-padding background-image">
        <div class="container-fluid text-center mb-4 p-0">
            <div class="col-lg-8 col-md-10 col-sm-12 offset-lg-2 text-light" id="hero-landing-div">
                <h1 class="gradient-text text-warning" id="hero-quote">FitClub</h1>
                <h1 class="hero-h2 m-5 pb-5" id="hero-phrase">Your Fitness Friends Are Here</h1>
                <!-- Vertically centered modal -->
                <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#staticBackdrop">
                    Play <i class="far fa-play-circle"></i> Video
                </button>
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <!-- Width attribute needs % to work ?? -->
                                <video width="100%" controls poster="{{MEDIA_URL}}video-placeholder.png">
                                    <source src="{{MEDIA_URL}}/movies/hero.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Club section with 4 main Sales Points and Icons -->
<section id="club-section">
    <div class="row mt-5 section-padding">
        <div class="container-fluid p-0">
            <div class="row m-0 section-header text-center justify-content-center pb-5">
                <h2 class="gradient-text text-dark pt-5">The FitClub Way</h2>
                <p class="pt-3">Everybody has a goal. Get fitter, lose weight or join a like minded community of
                    people.</p>
                <p>At FitClub you'll find the answer to whatever fitness need you have</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 ">
                    <div class="row m-0 justify-content-center">
                        <img src="{{MEDIA_URL}}/pc.png" alt="PC Computer">
                    </div>
                    <div class="text-center pt-3">
                        <h3>Sign Up and Log In</h3>
                        <p>This is where your journey starts. Sign up, join the growing community and get ready
                            to start one of our amazing plans</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row m-0 justify-content-center">
                        <img src="{{MEDIA_URL}}/shopping-online.png" alt="Online Shopping">
                    </div>
                    <div class="text-center pt-3">
                        <h3>Choose Your Plan</h3>
                        <p>Choose from our award winning meal plans and/or training regimes. All of which are
                            designed by the best chefs and personal trainers out there!</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row m-0 justify-content-center pt-5">
                        <img src="{{MEDIA_URL}}/chat.png" alt="Group Chat">
                    </div>
                    <div class="text-center pt-3">
                        <h3>Join the FitClub Community</h3>
                        <p>Now you're a FitClub member, share your progress and get motivation from
                            others on our members only forum</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row m-0 justify-content-center pt-5">
                        <img src="{{MEDIA_URL}}/strength.png" alt="Dumb bell">
                    </div>
                    <div class="text-center pt-3">
                        <h3>Get Fit</h3>
                        <p>Within weeks you'll start seeing all that hard work pay off.
                            Get fitter, healthier and happier with FitClub.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Products Section split with images/text -->
<div class="container-fluid p-0">
    <section id="products-section">
        <div class="row m-0 bg-dark text-light no-gutters">
            <div class="container">
                <div class="row m-0 section-header text-center justify-content-center pb-5">
                    <h2 class="gradient-text text-light pt-5">Our Plans</h2>
                    <p class="pt-3">Eating, Training or Both ! FitClub's plans are tailored to suit your needs and
                        help you achieve your goals. Our expert Trainers have put together some of the toughest but rewarding workouts you'll do.</p>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="row m-0 align-items-center">
                    <div class="col-sm-6">
                        <div class="text-left p-3">
                            <h2>Meals To Suit You</h2>
                            <p>Cooking should not only be satisfying but also fun. Our award winning chefs have prepared succulent, simple meals that will give you the energy to smash your workout whilst keeping your feeling full! 
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-0">
                        <img class="image-split" src="{{MEDIA_URL}}/training-split4.jpg" alt="">
                    </div>
                </div>
                <div class="row m-0 align-items-center">
                    <div class="col-sm-6 p-0">
                        <img class="image-split" src="{{MEDIA_URL}}/training-split1.jpg" alt="">
                    </div>
                    <div class="col-sm-6 text-left p-3">
                        <h2>Health and Fitness</h2>
                        <p>Fitness isn’t just about running, biking, or hitting the gym. It’s also about being
                            active
                            throughout the day.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Reviews section with 3 main quotes -->
<section id="reviews-section">
    <div class="row bg-light no-gutters pb-4">
        <div class="container">
            <div class="container">
                <div class="row m-0 section-header text-center justify-content-center pb-5">
                    <h2 class="gradient-text text-dark pt-5">Our Reviews</h2>
                    <p class="pt-3">Don’t just take our word for it. See what our members says about our plans.
                        We have 1000s of positive reviews.</p>
                </div>
            </div>
            <div class="container text-center">
                <div class="row justify-content-center">
                </div>
                <div class="row">
                    <div class="review col-sm-4 ">
                        <i class="fas fa-quote-right"></i>
                        <p>I started with FitClub 6 months ago. I feel 100 times fitter and have made
                            a bunch of friends along the way. Getting fitter has never been more fun !</p>
                    </div>
                    <div class="review col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                        <i class="fas fa-quote-right"></i>
                        <p>I started with an Eating plan, the recipes were so easy to follow it made meals quick to
                            prepare
                            and really tasty. Even the kids loved them !</p>
                    </div>
                    <div class="review col-sm-4 wow fadeIn" data-wow-delay="0.6s">
                        <i class="fas fa-quote-right"></i>
                        <p>I've lost 15lbs in the last 2 months and never felt fitter,
                            the only down side to FitClub is having to buy
                            a new wardrobe of cloths in smaller sizes !!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="row bg-light no-gutters">
        <div class="container">
        </div>
    </div>
</footer>
{% endif %}
<!-- JS for making the landing more interactive -->
<script>
    $(document).ready(function () {
        // Fade in hero landing text
        $('#hero-landing-div').css('opacity', 0);
        $('#hero-landing-div').animate({
            opacity: '1',
        }, 3000 );

        // Scroll event fade in sections as user scrolls past  
        $(document).on("scroll", function () {
            var pageTop = $(document).scrollTop()
            var pageBottom = pageTop + $(window).height()
            var tags = $("section")

            for (var i = 0; i < tags.length; i++) {
                var tag = tags[i]

                if ($(tag).position().top < pageBottom) {
                    $(tag).addClass("visible")
                } else {
                    $(tag).removeClass("visible")
                }
            }
        })
    })
</script>
{% endblock %}