{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center">
        {% include 'home/dashboard.html' %}
    </div>
</div>
{% endif %}
<section id="hero-section">
    <div class="top-banner row hero-spacer">
        <div class="container-fluid text-center vh-100 mb-4">
            <div class="col-lg-6 col-md-10 col-sm-12 offset-lg-3 text-light">
                <h1 class="gradient-text text-warning p-5" id="hero-quote">FitClub</h1>
                <h1 class="hero-h2 p-5" id="hero-phrase">The Future Of Fitness Is Here</h1>
                <a href="{{MEDIA_URL}}movies/hero.mp4" class="btn-warning text-dark btn-lg">Play <i
                        class="far fa-play-circle"></i>
                    Video
                </a>
            </div>
        </div>
    </div>
</section>
<section id="product-section">
    <div class="row bg-light no-gutters">
        <div class="container">
            <div class="row section-header justify-content-center pb-5">
                <h2 class="gradient-text text-dark pt-5">The FitClub Way</h2>
                <p>Everybody has a goal. Get fitter, lose weight or join a like minded community of people</p>
            </div>
            <div class="row justify-content-center pt-3">
                <div class="col-sm-6 ">
                    <div class="row justify-content-center">
                        <img src="{{MEDIA_URL}}pc.png" alt="">
                    </div>
                    <div class="text-center">
                    <h3>Log in and Sign Up</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur de elit, sed do tempor incididunt ut labore eta
                        rehenderit in
                        voluptate velit.</p>
                    </div>
                </div>

                <div class="col-sm-6 work-process wow fadeIn" data-wow-delay="0.5s">
                    <div class="row justify-content-center">
                        <img src="{{MEDIA_URL}}shopping-online.png" alt="">
                    </div>
                    <div class="text-center">
                        <h3>Configure Your Plan</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur de elit, sed do tempor incididunt ut labore eta
                            rehenderit in
                            voluptate velit.</p>
                    </div>
                </div>

                <div class="col-sm-6 work-process wow fadeIn" data-wow-delay="1s">
                    <div class="row justify-content-center">
                        <img src="{{MEDIA_URL}}chat.png" alt="">
                    </div>
                    <div class="text-center">
                        <h3>Join the FitClub Community</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur de elit, sed do tempor incididunt ut labore eta
                            rehenderit in
                            voluptate velit.</p>
                    </div>
                </div>
                <div class="col-sm-6 work-process wow fadeIn" data-wow-delay="1s">
                    <div class="row justify-content-center">
                        <img src="{{MEDIA_URL}}strength.png" alt="">
                    </div>
                    <div class="text-center">
                        <h3>Get Fit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur de elit, sed do tempor incididunt ut labore eta
                            rehenderit in
                            voluptate velit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
