{% extends 'base.html' %}
{% load static %}

<!-- Extra CSS for the profile page-->
{% block extracss %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Overlay to hide background -->
<div class="overlay"></div>
<!-- Container to hold user info -->
<div class="container-fluid">
    <div class="row d-flex hero-spacer" id="hero-quote">
        <div class="col text-center mt-3">
            <h2 class="logo-font text-warning">{{ profile.user }}'s Profile</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-lg-4 offset-md-1">
            <!-- form to display/edit user profile info -->
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="pb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% if profile.user_image %}
                <div id="profile-image">
                    <a href="{{ profile.user_image.url }}" target="_blank">
                        <img class="img" src="{{ profile.user_image.url }}" alt="{{ profile.name }}">
                    </a>
                </div>
                {% else %}
                <a href="{{ MEDIA_URL }}user.png" target="_blank">
                    <img class="img-fluid" src="{{ MEDIA_URL }}user.png" alt="{{ profile.name }}">
                </a>
                {% endif %}
                <fieldset class="rounded mb-2">
                    <legend class="fieldset-label text-black mb-0 w-auto">Profile Information</legend>
                    {{ form|crispy }}
                </fieldset>
                <p class="small">Recommended image size 100x100px</p>
                <button id="submit-button" class="btn btn-dark rounded-3">
                    <span>Update Profile</span>
                </button>
            </form>
        </div>
        <!-- Div to display any previous order history -->
        <div class="col-sm-10 col-md-5 offset-md-1">
            <table class="table table-sm table-borderless text-center boot-border">
                <thead class="table-dark text-center">
                    <tr>
                        <td class="w-15">Order No</td>
                        <td class="w-15">Date</td>
                        <td class="w-15">Items</td>
                        <td class="w-15">Total</td>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}"
                                title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}
                            </a>
                        </td>
                        <td>{{ order.date }}</td>
                        <td>
                            <ul>
                                {% for item in order.lineitems.all %}
                                <li> {{ item.product.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ order.grand_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}