{% extends "base.html" %}
{% load static %}

{% block extracss %}
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="h-50 d-flex align-items-center justify-content-center">
        <div class="row d-flex hero-spacer" id="hero-quote">
            <div class="col text-center mt-3">
                <h2 class="logo-font text-warning">Success!</h2>
                <hr class="w-100 mb-1">
                <p class="text-dark">Your order summary is below for {{ order.order_number }}<br>
                    An confirmation email has been sent to {{ order.email }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">

        </div>
    </div>
</div>
{% endblock %}