{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center">
        <div class="row d-flex hero-spacer" id="hero-quote">
            <div class="col-12 d-flex justify-content-center align-items-center ">
                {% for forum in forums %}
                    {{forum.name}}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}