{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block content %}
<!-- Container for breadcrumbs and new reply form -->
<div class="container-fluid forum-filler background-image">
    <div class="d-flex align-items-center justify-content-center">
        <div class="row w-100 d-flex forum-spacer">
            <!-- Forum nav breadcrumbs -->
            <div class="col-12 justify-content-center align-items-center p-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-light">
                        <li class="breadcrumb-item"><a href="{% url 'all_forums' %}">Forum</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'forum_detail' topic.forum.id %}">{{ topic.forum.name }}</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{% url 'topic_posts' topic.forum.id topic.id %}">{{ topic.subject }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ topic.originator }}'s post</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Form for post reply -->
    <div class="d-flex align-items-center justify-content-center">
        <div class="row w-100 text-center">
            <div class="col-md-6 col-12 p-1 offset-md-3">
                <form method="POST" class="bg-dark p-3 rounded">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="forum-headers" for="id_reply">Reply to {{ topic.originator }}'s Post</label>
                        <textarea class="form-control" id="id_reply" name="message" rows="4">{% if post %}{{post.message}}{% endif %}</textarea>
                        <input type="hidden" id="topic-id" name="topic" value="{{ topic.id }}">
                    </div>
                    <button type="submit" class="btn btn-light highlight rounded mt-1"><span class="icon">
                                    <i class="far fa-comment-dots"></i>
                                </span>Reply
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}