{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid vh-100 background-image pb-2">
    <div class="d-flex align-items-center justify-content-center">
        <div class="row w-100 d-flex forum-spacer">
            <div class="col-12 justify-content-center align-items-center rounded p-0">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb bg-light">
                        <li class="breadcrumb-item"><a href="{% url 'all_forums' %}">Forums</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'forum_detail' topic.forum.id %}">
                            {{ topic.forum.name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ topic.subject }}</li>
                    </ol>
                </nav>
            </div>
            <div class="card col-12 bg-dark p-2">
                <div class="col-12 justify-content-center align-items-center rounded pt-2 bg-light">
                    <ul class="list-unstyled">
                        {% for post in topic.posts.all %}
                        <li class="media pt-2">
                            {% if post.created_by.user_image %}
                            <div class="">
                                <a href="{{ post.created_by.user_image.url }}" target="_blank">
                                    <img class="forum-profile-image align-self-start mr-3" src="{{ post.created_by.user_image.url }}"
                                         alt="{{ profile.name }}">
                                </a>
                            </div>
                            {% else %}
                            <a href="">
                                <img class="forum-profile-image align-self-start mr-3" src="{{ MEDIA_URL }}user.png" alt="{{ profile.name }}">
                            </a>
                            {% endif %}
                            <div class="media-body text-left mx-3">
                                <h4 class="">{{ post.created_by.user }}</h4>
                                <small>Posts: {{ post.created_by.posts.count }}</small>
                                <p class="">{{ post.message }}</p>
                            </div>
                            {% if post.created_by.user == user %}
                            <div class="text-right">
                                <a href="{% url 'edit_posts' post.topic.forum.id post.topic.id post.id %}"
                                   class="btn btn-dark py-1" role="button">Edit</a>
                                <a href="{% url 'delete_post' post.topic.forum.id post.topic.id post.id %}"
                                   class="btn btn-dark py-1" role="button">Delete</a>
                                <p class="mt-3">{{ post.created_at | date:"g:i F j, Y" }}</p>
                            </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row w-100 d-flex text-center">
                <div class="col-12">
                    <a href="{% url 'post_reply' topic.forum.id topic.id %}" class="btn btn-dark rounded mt-1">
                                <span class="icon">
                                    <i class="far fa-comment-dots"></i>
                                </span>
                        <span>Reply</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}