@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');


html {
    height: 100%;
}

body {
    background: url('/media/homepage_hero3.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Oswald', sans-serif;
}
a {
    color:#ffc107 !important
}

.cursor-pointer {
    cursor: pointer;
}

/* Header & NavBar Styling */

.navbar {
    padding: 0;
}

.hero-spacer {
    padding-top: 65px;
}
#nav-brand {
    padding-left: 15px;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

/*Hero Quote & Landing Page*/

.gradient-text {
  font-size: 7em;
  background: -webkit-linear-gradient(#f7bb05, #f74e05);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Pacifico', cursive;
  overflow-y: visible;
}
/* Toasts */ 

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    width: 250px
}

.custom-toast {
    overflow: visible;
}
.toast-capper {
    height: 2px;
}

/*Products Page*/

.bg-light {
    height: 100%;
    width: 100%;
}
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

card-img-top {
    max-height: 150px;
}

.toast {
    position: absolute; 
    top: 0; 
    right: 0;
    z-index: 9999999;
}
.forum-headers {
    font-family: 'Pacifico' , sans-serif;
    color: #ffc107;
}


/* Bag Page */

.img-fluid-bag {
    max-height:  5em !important;
}

.w-15 {
    width:1.5em;
}
.StripeElement{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.boot-border {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
/* Checkout Page */

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #6c757d !important;
}