@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Poppins', sans-serif;
    color: #555;

    /* Center and scale the image nicely */
    background: url('/media/homepage_hero3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: fixed;
     /* Add the blur effect
      filter: blur(3px);
      -webkit-filter: blur(3px);*/
}

a {
    color:#ffc107 !important
}

.cursor-pointer {
    cursor: pointer;
}

/* Header & NavBar Styling */

.navbar {
    padding: 0;
}

.hero-spacer {
    padding-top: 65px;
}
#nav-brand {
    padding-left: 15px;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

/*Hero Quote & Landing Page*/

#hero-quote {
    font-size: 9rem;
    font-family: 'Pacifico', sans-serif;
}
.hero-h1 {
    font-size: 5rem !important;
    font-weight: 800 ;
    font-style: italic;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

.hero-h2 {
    font-size: 5rem;
    font-weight: 600 !important;
}



.gradient-text {
  font-size: 7em;
  font-family: 'Pacifico', cursive;
  overflow-y: visible;
}
/* Toasts */ 

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    width: 250px
}

.custom-toast {
    overflow: visible;
}
.toast-capper {
    height: 2px;
}

/*Products Page*/

.bg-light {
    height: 100%;
    width: 100%;
}
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

card-img-top {
    max-height: 150px;
}

.toast {
    position: absolute; 
    top: 0; 
    right: 0;
    z-index: 9999999;
}
.forum-headers {
    font-family: 'Pacifico' , sans-serif;
    color: #ffc107;
}


/* Bag Page */

.img-fluid-bag {
    max-height:  5em !important;
}

.w-15 {
    width:1.5em;
}
.StripeElement{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.boot-border {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
/* Checkout Page */

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #6c757d !important;
}