@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


html {
    height: 100%;
}

body {
    background: url('/media/homepage_hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Fjalla One', sans-serif;
}

/* Header & NavBar Styling */

.navbar {
    padding: 0;
}

.navbar-brand {
    padding-left: 15px;
}



/*Hero Quote & Landing Page*/

#hero-quote {
    padding: 0;
}

#join-now-row {
    padding-top: 1em;
}

.thick {
    height: 50%;
}