.forum-spacer {
    padding-top: 150px;
}

.forum-headers {
    font-family: 'Pacifico' , sans-serif;
    color: #ffc107;
    font-size: 2rem;
}

.table td {
    vertical-align: middle;
    padding: 0.25rem;
}

.table {
    width: 100%;
}

.forum-table-font {
    font-size: 1rem;
}

topic-title {
    font-size: 0.75rem;
}

.forum-profile-image {
    max-width: 72px;
    max-height: 72px;
}

