

.forum-spacer {
    padding-top: 150px;
}

.forum-headers {
    font-family: 'Pacifico' , sans-serif
}

.table td {
    vertical-align: middle;
}

.table {
    width: 100%;
}

.forum-table-font {
    font-size: 2rem;
}